body { margin: 0; }

#modular-window {
position: fixed;
top: 20px;
left: 20px;
padding: 10px;
background-color: rgba(255, 255, 255, 0.5);
color: #fff;
border-radius: 5px;
z-index: 9999;
}

.clicked {
color: green !important;
}